<h1>Sample App</h1>
<p>
	Selam ben 
	<a href="https://www.facebook.com/sonsarisin88"> Batuhan Tumay</a>,
	bu da ilk sample application'ım. ayrıca berk <a href="http://nedemek.com.tr/gay-ne-demek-gay-nedir/gay_kiss_0/"> eşcinsel</a>. 
	 </p>
